[alias]
	aliases = !git config --list | grep '^alias' | sort
	amend = commit --amend
	append = commit --amend --no-edit
	b = branch
	cm = commit
	co = checkout
	d = diff
	diff-upstream = diff HEAD@{upstream} HEAD
	ds = diff --staged
	f = fetch -v --prune
	j = jump
	l = log
	last = log -1 HEAD
	s = status
	sh = show
	tree = log --oneline --graph

	# un-/hide files locally
	hide = update-index --skip-worktree
	hide-all = !git status --porcelain | grep '^ M' | cut -c4- | xargs git hide
	ls-hidden = !git ls-files -v | grep '^S' | cut -c3-
	unhide = update-index --no-skip-worktree
	unhide-all = !git ls-hidden | xargs git unhide
[commit]
	verbose = true
[diff]
	colorMoved = true
	wsErrorHighlight = all
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = true
[rebase]
	abbreviateCommands = true
[stash]
	showPatch = true
