[alias]
	amend = commit --amend
	b = branch
	cm = commit
	co = checkout
	d = diff
	ds = diff --staged
	f = fetch -v
	l = log
	last = log -1 HEAD
	s = status
	sh = show

	# un-/ignore files locally
	ignore = update-index --skip-worktree
	ls-ignored = !git ls-files -v | grep '^S' | cut -c3-
	unignore = update-index --no-skip-worktree
	unignore-all = !git ls-ignored | xargs git unignore
[commit]
	verbose = true
[diff]
	wsErrorHighlight = all
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = true
[rebase]
	abbreviateCommands = true
