# Color common prefix of possible completions
set colored-completion-prefix On

# Color possible completions by file type
set colored-stats On

# Ignore case when completing
set completion-ignore-case On

# Use vi-like key bindings
set editing-mode vi
